@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.container{
    max-width: 1240px;
}
nav{
    padding: 0;
    margin: 0;

}
.navigationBarMobile{
    display: block;
}
.navigationBarDesktop{
    display: none;
}
.menuIcon{
    margin-left: -7px;
}
.mobileNavbar{
    margin-left: 15px;
}
.jumbotron-header {  
   text-align: center;
   top: 0px;
   right: 0;
   left: 0;
   width: 100%;
   background-color: #1d2227 !important;
}
.navigationBarDesktop .navbar{
    padding: 0px;
}
.logoImage{
    max-width: 50%;    
}
.navigationBarMobile .navLink{
    font-size: 12px !important;
    padding: 0px !important;
}
.navLink{
    color:  #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;  
    padding: 0px 10px;
}
.navLink:hover{
    text-decoration: none;
    color:  #ffffff;  
}
.container-1{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    margin: 0px auto;
    background-color:  #f6e6bb;
}
.menuLink{
    color: #060506;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 6px;
    font-weight: bold;
    
}
.menuLink:hover{
    text-decoration: none;
      color:#C8242F;
}
.container-1 .active{
    color: #C8242F !important;
}

.banner{
    background-image: url(../images/bg3.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
}
.bannerContainer{
    padding: 195px 0px;
}
.bannerHead{
   color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 36px;
}
.bannersubHead{
    color: #C8242F;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize; 
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 24px;  
}
.contactButton{
    color: #000000;
    padding: 11px 23px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f6e6bb;
    font-weight: bold;
    border-radius: 10px;
}
.subHeading1{
    padding: 20px 0px;
   
}
.green{
   background-color: grey;
    width: 2px;
}
.subHeading11{
  background-color:  #e6e6e6;padding: 4px 35px;
    margin-top: -15px;
}
.bannerHead1{
    color: #000000 !important;
    font-size: 24px !important;
}
.contactButton:hover{
    color: #C8242F;
    background-color: #f6e6bb;
    text-decoration: none;
}
.aboutImage{
    max-height: 50%; 
}

.textLeft{
   text-align: left !important;
}
#aboutus{
    text-align: center; 
    margin: 0px auto;
}
.menuCnt{
   padding: 10px 0px; 
}
.greyBack{
    background-color:  #cccccc;
    padding: 30px;
}
.textCenter{
    text-align: center;
    margin: 0px auto;
}
.count
{
  line-height: 10px;
  color:#C8242F;
  font-size:25px;
  font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.menuHeading{
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize; 
    color: #C8242F;
    font-size: 26px;
    font-weight: bold;
}
.menuSubHeading{
    font-family: 'Montserrat', sans-serif;
    color:  #737373;
    font-size: 15px;
    line-height: 23px;
}
.subHeading{
    font-family: 'Montserrat', sans-serif;
    color:  #000000;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutImage2{
    max-width: 57%;
}
.menuSubHeadingBold{
    font-weight: bold;
}
.iconHeading{
     font-family: 'Montserrat', sans-serif;
    color:  #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px;
}
.centerPlace{
   text-align: center; 
}
.serviceImages{
   height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    border: 2px solid #d9d9d9;
}
.aboutImage:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}


/* growing button start */
 .wrapper {
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
     
      @-webkit-keyframes glowing {
        0% {
          background-color: #f6e6bb;
          -webkit-box-shadow: 0 0 3px #f6e6bb;
        }
        50% {
          background-color: #f6e6bb;
          -webkit-box-shadow: 0 0 15px #f6e6bb;
        }
        100% {
          background-color: #0091b2;
          -webkit-box-shadow: 0 0 3px #f6e6bb;
        }
      }
      @keyframes glowing {
        0% {
          background-color: #f6e6bb;
          box-shadow: 0 0 3px #f6e6bb;
        }
        50% {
          background-color: #f6e6bb;
          box-shadow: 0 0 15px #f6e6bb;
        }
        100% {
          background-color: #f6e6bb;
          box-shadow: 0 0 3px #f6e6bb;
        }
      }
      .svg-btn {
         display: block;
       }
      svg {
        fill: blue;
        -webkit-animation: glowing-polygon 1300ms infinite;
        -moz-animation: glowing-polygon 1300ms infinite;
        -o-animation: glowing-polygon 1300ms infinite;
        animation: glowing-polygon 1300ms infinite;
      }
          .aa{
        fill: blue;
        -webkit-animation: glowing-polygon 1300ms infinite;
        -moz-animation: glowing-polygon 1300ms infinite;
        -o-animation: glowing-polygon 1300ms infinite;
        animation: glowing-polygon 1300ms infinite;
      }
      @-webkit-keyframes glowing-polygon {
        0% {
          fill: #f6e6bb;
          -webkit-filter: drop-shadow( 0 0 3px #f6e6bb);
        }
        50% {
          fill: #f6e6bb;
          -webkit-filter: drop-shadow( 0 0 15px #808080);
        }
        100% {
          fill: #f6e6bb;
          -webkit-filter: drop-shadow( 0 0 3px #f6e6bb);
        }
      }
      @keyframes glowingPolygon {
        0% {
          fill: #f6e6bb;
          filter: drop-shadow( 0 0 3px#f6e6bb);
        }
        50% {
          fill: #f6e6bb;
          filter: drop-shadow( 0 0 15px  #808080);
        }
        100% {
          fill: #f6e6bb;
          filter: drop-shadow( 0 0 3px #f6e6bb);
        }
      }
/* growing button end */
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: transparent;
    color: #C8242F;
     font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:focus{
     border-color: transparent;
}
.greycircle{
    font-size: 9px;
}
.tabHeading{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;  
    font-size: 15px;
    font-weight: bold;
}
.tabHeading:hover{
   color: #C8242F; 
}
.menuSubHeadingServices{
    font-size: 15px !important;
    line-height: 24px;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}








.jumbotron-footer{
    background: #1d2227 ;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	padding: 30px 0px 40px 0px !important;
    margin: 8px 0px 0px 0px;  
}
.footerHeading{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
}
.submitButton{
     color: #ffffff ;
    font-family: 'Pathway Gothic One', sans-serif;
    cursor: pointer;
    background-color: #C8242F;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 0px;
}
.jumbotron-footer  .form-control{
    border-radius: 0px;
    background-color: #f9f3e6;
    padding: 0px;
    text-align: left;
}
.jumbotron-footer .form-inline label{
    margin-left: 7px;
}
.centraline{
   text-align: center;
    margin: 0px auto;
    padding: 0px 0px 30px 0px;
}
.whiteHr{
    border: 1px solid #f9f3e6;
}
.navLink1{
    text-transform: capitalize !important;
}
.centerFix{
    margin: 0px auto !important;
    text-align: center !important;
}



/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
   
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {
  .navLink{
        font-size: 14px;
    }
    .menuLink{
        font-size: 10px;
    }
      .footerHeading{
       font-size: 15px;  
     }
     .submitButton{
        font-size: 12px !important;
    }
     .centraline{
      padding: 0px 0px 20px 0px;
    }

}



/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
 .logoImage{
    margin-left: -33px;
    max-width: 70%;
  }
   .submitButton{
        margin-top: 10px;
        margin-left: -6px;
        font-size: 14px;
        padding: 3px 10px;
    }
     .jumbotron-footer .form-control{
        padding: 10px;
    }
  
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
    .navigationBarMobile{
        display: none;
    }
  .navigationBarDesktop{
        display: block;
    }
    .menuLink{
       padding: 0px 10px;
       font-size: 12px;
    }
    .footerHeading{
       font-size: 22px;  
    }
     .submitButton{
        padding: 3px 10px;
    }
    .centraline{
       padding: 40px 0px 30px 0px;
    }
    .footerForm{
        padding-left: 35px;
    }
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 

}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
  .menuLink{
      padding: 0px 25px;
      font-size: 14px;
    }
    .footerHeading{
       font-size: 30px;  
    }
     .submitButton{
        padding: 5px 10px;
    }
      .centraline{
       padding: 10px 0px 10px 0px;
    }

}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
.menuLink{
    padding: 0px 38px;
    font-size: 15px;
 }
  .jumbotron-footer .form-control{
        padding: 20px 50px;
    }
     .footerForm{
        padding-left: 110px !important;
    }
   
}
