@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
*{
    box-sizing: border-box;
}
::selection {
  background:#c1928b;
    color:#fff;/* WebKit/Blink Browsers */
}
::-moz-selection {
   background:#c1928b;
    color:#fff;/* Gecko Browsers */
}
.container{
    max-width: 1240px;
}
nav{
    padding: 0;
    margin: 0;

}
.navigationBarMobile{
    display: block;
}
.navigationBarDesktop{
    display: none;
}
.menuIcon{
    margin-left: -7px;
}
.mobileNavbar{
    margin-left: 15px;
}
.jumbotron-header {  
   text-align: center;
   top: 0px;
   right: 0;
   left: 0;
   width: 100%;
   background-color: #1d2227 !important;
}
.navigationBarDesktop .navbar{
    padding: 0px;
}
.logoImage{
    max-width: 50%;    
}
.navigationBarMobile .navLink{
    font-size: 12px !important;
    padding: 0px !important;
}
.navLink{
    color:  #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;  
    padding: 0px 10px;
}
.navLink:hover{
    text-decoration: none;
    color:  #ffffff;  
}
.container-1{
    width: 100%;
    padding: 20px 0px;
    text-align: left;
}
.topBorder{
    border-top: 1px solid #e07a26;
    border-bottom: 1px solid #e07a26; 
     background-color: #262626;
    opacity: 0.7;
}
.menuLink{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 6px;
    font-weight: bold;
    
}
.menuLink:hover{
    text-decoration: none;
      color: #e07a26;
}
.projectcode{
    float: right;
    background-color: #e07a26;
    padding: 11px 15px;
    margin-top: -20px;
    margin-right: -40px;
}
.projectcode .menuLink:hover{
    color: #ffffff;
}
.whiteArrow{
   max-width: 30%; 
}


.banner{
    background-image: url(../images/Desktop1.png);
   
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
}
.bannerContainer{
    padding: 195px 0px;
}
.bannerHead{
   color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 36px;
}
.bannersubHead{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize; 
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 24px;  
}
.contactButton{
    color: #000000;
    padding: 11px 23px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f6e6bb;
    font-weight: bold;
    border-radius: 10px;
}
.subHeading1{
    padding: 20px 0px;
    font-size: 12px !important;
   
}
.aboutusheading:hover{
    text-decoration: none;
}
.extraPadding{
    padding: 35px 20px 30px 50px;
}
.img1{
   margin-left: -15px;
    width: 107%;
    height: 619px;
    border-right: 1px solid #e07a26;
}
.img2{
    border-left: 1px solid #e07a26; 
    width: 100%;
    margin-left: 35px;
    height: 655px;
}
.img3{
    width: 106%;
     margin-left: -30px;
}
.imgMargin{
   margin-left: 15px;
}
.contactBack{
  background-color: #7b7c7c;
}
.getinTouch .form-control{
    background-color: #e6e6e6;
}
.colorHr{
  border-top: 1px solid #e07a26;
    margin: 0px;
}
.details{
    color: #000000;
    padding: 9px 25px 9px 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
     border: 1px solid #e07a26; 
    text-transform: uppercase;
}
.oranageArrow{
   color:  #e07a26;
    font-size: 13px;
    margin-left: 10px;
}
.details:hover{
     color: #000000;
    background-color: #f2f2f2;
    text-decoration: none;
}

.detailsCnt{
  float: right;
}
.arrowImage{
  max-width: 40%;
    margin-right: -4px;
}
.subHeading11{
  background-color:  ;
    padding: 42px 0px;
   
}
.extraWidth{
    width: 107% !important;
}
.subHeading12{
   background-color: #e3e4e5;
    padding: 40px 50px;
}
.bannerHead1{
    color: #000000 !important;
    font-size: 26px !important;
    text-transform: capitalize;
}
.contactButton:hover{
    color: #C8242F;
    background-color: #f6e6bb;
    text-decoration: none;
}
.aboutImage{
    max-height: 50%; 
}

.textLeft{
   text-align: left !important;
}
#aboutus{
    text-align: center; 
    margin: 0px auto;
}
.menuCnt{
   padding: 10px 0px; 
}
.greyBack{
    background-color:  #cccccc;
    padding: 30px;
}
.textCenter{
    text-align: center;
    margin: 0px auto;
}
.count
{
  line-height: 10px;
  color:#C8242F;
  font-size:25px;
  font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.menuHeading{
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize; 
    color: #C8242F;
    font-size: 26px;
    font-weight: bold;
}
.menuSubHeading{
    font-family: 'Montserrat', sans-serif;
    color:  #76777a;
    font-size: 15px;
    line-height: 26px;
}
.subHeading{
    font-family: 'Montserrat', sans-serif;
    color:  #000000;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutImage2{
    max-width: 57%;
}
.menuSubHeadingBold{
    font-weight: bold;
}
.iconHeading{
     font-family: 'Montserrat', sans-serif;
    color:  #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px;
}
.centerPlace{
   text-align: center; 
}
.serviceImages{
   height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    border: 2px solid #d9d9d9;
}
.aboutImage:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.serviceBack{
  border: 1px solid #e6e6e6;
  padding: 53px 0px;
  background-color:  #f2f2f2;
}
.imgService{
    max-width: 60%;
}
.textCenter{
    text-align: center;
}


.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: transparent;
    color: #C8242F;
     font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:focus{
     border-color: transparent;
}
.greycircle{
    font-size: 9px;
    color: #e07a26;
}
.tabHeading{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;  
    font-size: 15px;
    font-weight: bold;
}
.tabHeading:hover{
   color: #C8242F; 
}
.menuSubHeadingServices{
    font-size: 15px !important;
    line-height: 28px;
}
.imgHeight{
   height: 630px; 
    width: 100%;
}
.imgHeight1{
   height: 630px; 
    width: 100%;
}
.imgBorderLeft{
   border-left: 1px solid #e07a26; 
}
.imgBorderRight{
   border-right: 1px solid #e07a26; 
}
.imgMarginL{
   margin-left: -15px; 
}


.subHeadingTouch{
  color: #ffffff !important;
   font-size: 18px;
    letter-spacing: 2px;
}
.locationcnt .details{
  color: #ffffff;
    
}
.locationcnt .details:hover{
  color: #ffffff;
    
   background-color: #666666;
}

.navLink1{
    text-transform: lowercase !important;
}
.jumbotron-footer{
    background: #1d2227 ;
	border-radius: 0px !important;
	background-repeat: no-repeat;
    background-size: cover;
	padding: 20px 0px 20px 0px !important;
    margin: 0px 0px 0px 0px;  
}
.footerHeading{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
}
.submitButton{
     color: #ffffff ;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: #e07a26;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 0px;
}
.submitButton:hover{
    color: #ffffff;
}

.jumbotron-footer  .form-control{
    border-radius: 0px;
    background-color: #f9f3e6;
    padding: 0px;
    text-align: left;
}
.jumbotron-footer .form-inline label{
    margin-left: 7px;
}
.centraline{
   text-align: center;
    margin: 0px auto;
    padding: 0px 0px 30px 0px;
}
.whiteHr{
    border: 1px solid #f9f3e6;
}
.navLink1{
    text-transform: capitalize !important;
}
.centerFix{
    margin: 0px auto !important;
    text-align: center !important;
}



/* Extra small devices (phones, 300px and down)  start*/
@media only screen and (max-width: 300px) {
   
    
}


/* Extra small devices (phones, 320px and down)  start */
@media only screen and (max-width: 320px) {
  .navLink{
        font-size: 14px;
    }
    .menuLink{
        font-size: 10px;
    }
      .footerHeading{
       font-size: 15px;  
     }
     .submitButton{
        font-size: 12px !important;
    }
     .centraline{
      padding: 0px 0px 20px 0px;
    }

}



/* Medium devices ( 767px and down) start */
@media only screen and (max-width: 767px){ 
 .logoImage{
    margin-left: -33px;
    max-width: 70%;
  }
   .submitButton{
        margin-top: 10px;
        margin-left: -6px;
        font-size: 14px;
        padding: 3px 10px;
    }
     .jumbotron-footer .form-control{
        padding: 10px;
    }
  
}



/* Medium devices (landscape tablets, 768px and up)  start*/
@media only screen and (min-width: 768px) {
    .navigationBarMobile{
        display: none;
    }
  .navigationBarDesktop{
        display: block;
    }
    .menuLink{
       padding: 0px 10px;
       font-size: 12px;
    }
    .footerHeading{
       font-size: 22px;  
    }
     .submitButton{
        padding: 3px 10px;
    }
    .centraline{
       padding: 40px 0px 30px 0px;
    }
    .footerForm{
        padding-left: 35px;
    }
    
}
    

/* Medium devices ( 768px and down) start */
@media only screen and (max-width: 768px){ 

}



/* Large devices (laptops/desktops, 992px and up)  start*/
@media only screen and (min-width: 992px) {
  .menuLink{
      padding: 0px 25px;
      font-size: 14px;
    }
    .footerHeading{
       font-size: 30px;  
    }
     .submitButton{
        padding: 5px 10px;
    }
      .centraline{
       padding: 10px 0px 10px 0px;
    }

}



/* Extra large devices (large laptops and desktops, 1200px and up)  start*/
@media only screen and (min-width: 1200px) {
.menuLink{
    padding: 0px 24px;
    font-size: 14px;
    letter-spacing: 3px;
 }
  .jumbotron-footer .form-control{
        padding: 20px 50px;
    }
     .footerForm{
        padding-left: 110px !important;
    }
   
}
